li {
    list-style: none;
}

#navMenu{
    margin-bottom: 0;
}

#navMenu li{
    display:inline-block;
}

#loginHeader{
    text-align: center;
    padding-top: 2em;
}

.align-center{
    float:none;
    margin: 0 auto;
}

#loggedIn{
    display:inline;
    float:right;
}