<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('A post')" />
<body>
<div id="root">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h1>My blog</h1>
                <ul>
                    <li>
                        <h3>{{post.title}}</h3>
                        <h6>Created by : {{post.creator.username}}</h6>
                        <p>{{post.body}}</p>
                        <hr />
                    </li>
                </ul>
                <div v-if="isLoggedIn()">
                    <label for="comment">Add a Comment</label>
                    <textarea class="u-full-width" placeholder="Comment.." id="comment"></textarea>
                    <input class="u-full-width button-primary" type="submit" v-on:click="doComment" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>

<script>
    var app = new Vue({
        el: '#root',
        data : {post: {}},
        mounted(){
            this.fetchPosts();
        },
        methods: {
            fetchPosts(){
                var splitted = window.location.href.split('/');
                axios.get("/the_post/" + splitted[splitted.length-1]).then(function(response){
                    this.post = response.data;
                }.bind(this));
            },
            isLoggedIn(){
                return window.Event.isLoggedIn;
            }
        }

    });
</script>
</html>